.custom-task-item {
  position: relative;
  .remove {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    border: 0 !important;
    &:hover {
      background-color: transparent;
    }
    i {
      font-size: 32px !important;
      color: $gray !important;
    }
  }
  .props {
    p {
      margin-top: 0;
      margin-bottom: 10px !important;
    }
  }
  &.blue {
    h3 {
      color: $blue !important;
    }
    svg {
      stroke: $blue;
      fill: $blue;
    }
    .switcher {
      .circle {
        background: $blue;
      }
      .stripe {
        .ovrl {
          background: $blue;
        }
      }
      &._checked {
        .control {
          .stripe {
            .handle {
              border-color: $blue;
            }
          }
        }
      }
    }
  }
  &.green {
    h3 {
      color: $green !important;
    }
    svg {
      stroke: $green;
      fill: $green;
    }
    .switcher {
      .circle {
        background: $green;
      }
      .stripe {
        .ovrl {
          background: $green;
        }
      }
      &._checked {
        .control {
          .stripe {
            .handle {
              border-color: $green;
            }
          }
        }
      }
    }
  }
  &.lawngreen {
    h3 {
      color: $lawngreen !important;
    }
    svg {
      stroke: $lawngreen;
      fill: $lawngreen;
    }
    .switcher {
      .circle {
        background: $lawngreen;
      }
      .stripe {
        .ovrl {
          background: $lawngreen;
        }
      }
      &._checked {
        .control {
          .stripe {
            .handle {
              border-color: $lawngreen;
            }
          }
        }
      }
    }
  }
  &.yellow {
    h3 {
      color: $yellow !important;
    }
    svg {
      stroke: $yellow;
      fill: $yellow;
    }
    .switcher {
      .circle {
        background: $yellow;
      }
      .stripe {
        .ovrl {
          background: $yellow;
        }
      }
      &._checked {
        .control {
          .stripe {
            .handle {
              border-color: $yellow;
            }
          }
        }
      }
    }
  }
  &.orange {
    h3 {
      color: $orange !important;
    }
    svg {
      stroke: $orange;
      fill: $orange;
    }
    .switcher {
      .circle {
        background: $orange;
      }
      .stripe {
        .ovrl {
          background: $orange;
        }
      }
      &._checked {
        .control {
          .stripe {
            .handle {
              border-color: $orange;
            }
          }
        }
      }
    }
  }
  &.red {
    h3 {
      color: $red !important;
    }
    svg {
      stroke: $red;
      fill: $red;
    }
    .switcher {
      .circle {
        background: $red;
      }
      .stripe {
        .ovrl {
          background: $red;
        }
      }
      &._checked {
        .control {
          .stripe {
            .handle {
              border-color: $red;
            }
          }
        }
      }
    }
  }
  &.magenta {
    h3 {
      color: $magenta !important;
    }
    svg {
      stroke: $magenta;
      fill: $magenta;
    }
    .switcher {
      .circle {
        background: $magenta;
      }
      .stripe {
        .ovrl {
          background: $magenta;
        }
      }
      &._checked {
        .control {
          .stripe {
            .handle {
              border-color: $magenta;
            }
          }
        }
      }
    }
  }
  &.violet {
    h3 {
      color: $violet !important;
    }
    svg {
      stroke: $violet;
      fill: $violet;
    }
    .switcher {
      .circle {
        background: $violet;
      }
      .stripe {
        .ovrl {
          background: $violet;
        }
      }
      &._checked {
        .control {
          .stripe {
            .handle {
              border-color: $violet;
            }
          }
        }
      }
    }
  }
  &._enabled {
    h3, p {
      color: white !important;
    }
    .remove {
      i {
        color: white !important;
      }
    }
    svg {
      stroke: white;
      fill: white;
    }
  }
}