.ui-pnotify {
  background: $brand-primary;
  padding-top: 12px;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid rgba(white, .3);
  &-container {
    box-shadow: none !important;
  }
  &-title {
    color: white;
    font-size: 24px;
    margin-bottom: 0;
  }
  &-text {
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
  &.success {
    background: $green;
  }
  &.error {
    background: $red;
  }
  button {
    background: white;
    border: 0;
    padding: 5px;
    width: 70px;
    border-radius: 3px;
    font-size: 18px;
    color: $blue;
    margin: 2px;
    margin-bottom: 0;
    &:hover {
      background: black;
    }
  }
}