.activity-item {
  @include flexbox;
  border-bottom: 1px solid $gray-lighter;
  .task {
    font-weight: 600;
  }
  .name {
    color: $gray-light;
  }
  &.PASSED, &.ALL {
    i {
      color: $green;
    }
  }
  &.FEE {
    i {
      color: $red;
    }
  }
  &.WATER {
    i {
      color: $water-color;
    }
  }
  > div {
    padding: 10px;
    i {
      font-size: 32px;
    }
    &:nth-child(1) {
      margin-left: 10px;
    }
    p {
      margin: 0;
      font-weight: 500;
    }
    &:nth-child(3) {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      text-align: right;
      @include flex-grow(1);
    }
  }
}
