#chat-header {
  border-bottom: 1px solid $gray-lighter;
  margin: 0 $base-padding;
  @media screen and (max-width: $screen-sm) {
    margin: 0;
    > ul {
      @include flexbox;
      > li {
        i {
          font-size: 24px;
          color: $gray-light;
        }
        @include flex-grow(1);
        &.active {
          i {
            color: $violet;
          }
          &:after {
            background: $violet;
          }
        }
      }
    }
  }
}