#send-message {
  flex: 0 1 40px;
  width: 100%;
  padding: 10px;
  position: relative;
  border-top: 1px solid $gray-lighter;
  .message-input {
    background: none;
    border: none;
    outline: none!important;
    resize: none;
    color: $base-text-color;
    font-size: 20px;
    height: 40px;
    margin: 0;
    padding-right: 0;
    width: 72%;
    font-weight: 500;
    max-height: 200px;
    overflow-y: scroll;
    @media screen and (max-width: $screen-sm) {
      font-size: 18px;
    }
    &:empty:before{
      content: attr(placeholder);
      display: block;
      color: $gray-light;
    }
  }

  .message-submit {
    position: absolute;
    z-index: 1;
    top: 50%;
    @include transform(translate(0, -50%));
    right: 10px;
    color: #fff;
    border: none;
    background: $green;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
    padding: 10px 30px;
    border-radius: 10px;
    outline: none!important;
    transition: background .2s ease;

    &:hover {
      background: darken($green, 10%);
    }
  }
}