.checkbox {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid rgba($gray-light, .5);
  border-radius: 50%;
  cursor: pointer;
  color: white;
  overflow: hidden;
  background: white;
  z-index: 1;
  @media screen and (max-width: $screen-sm) {
    width: 60px;
    height: 60px;
    line-height: 53px;
    text-align: center;
    i {
      font-size: 33px !important;
    }
  }
  @media screen and (max-width: $screen-sm) {
    &:hover {
      background: lighten($gray-light, 10%);
    }
  }
  &.missed {
    color: $red;
    border-color: $red;
    background: rgba($red, .07);
    cursor: default;
  }
  &.tint {
    border-color: rgba($water-color, .5);
    color: rgba($water-color, .5);
  }
  &.half {
    border-color: $green;
  }
  &.play {
    color: $gray-light;
    i {
      position: relative;
      left: 5px;
    }
  }
  i {
    font-size: 50px;
  }
  &.add {
    background: $green;
    color: white;
    border-color: $green;
    &:hover {
      background: darken($green, 10%);
      border-color: darken($green, 10%);
    }
  }
  &.disabled {
    cursor: default;
    &:hover {
      background: white;
    }
  }
  &.checked {
    i {
      color: $green;
    }
    border-color: $green;
    background: rgba($green, .07);
    cursor: default;
    &:hover {
      background: rgba($green, .07);
    }
    .half {
      display: none;
    }
  }
  .half {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba($green, .07);
  }
}
.checkbox-cont {
  position: relative;
  display: inline-block;
  .checkbox {
    position: relative;
    z-index: 2;
  }
  .circle {
    position: absolute;
    z-index: 1;
    width: 1000px;
    top: -470px;
    left: -470px;
    height: 1000px;
    @include transform(scale(0.02));
    @include transition(.3s);
    border-radius: 50%;
    background: $blue;
    &.checked {
      @include transform(scale(1.4));
    }
  }
}