.checkbox {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid rgba($gray-light, .5);
  border-radius: 50%;
  cursor: pointer;
  color: white;
  overflow: hidden;
  z-index: 1;
  @media screen and (max-width: $screen-sm) {
    width: 50px;
    height: 50px;
    line-height: 38px;
    text-align: center;
    i {
      font-size: 25px !important;
    }
  }
  &:hover {
    background: rgba($gray-light, .5);
  }
  &.missed {
    color: $red;
    border-color: $red;
    background: rgba($red, .07);
    cursor: default;
  }
  &.tint {
    border-color: rgba($water-color, .5);
    color: rgba($water-color, .5);
    &:hover {
      background: rgba($water-color, .2);
    }
  }
  &.half {
    border-color: $green;
  }
  &.play {
    color: $gray-light;
    i {
      position: relative;
      left: 5px;
    }
  }
  i {
    font-size: 50px;
  }
  &.add {
    background: $green;
    color: white;
    border-color: $green;
    &:hover {
      background: darken($green, 10%);
      border-color: darken($green, 10%);
    }
  }
  &.disabled {
    cursor: default;
    &:hover {
      background: transparent;
    }
  }
  &.checked {
    i {
      color: $green;
    }
    border-color: $green;
    background: rgba($green, .07);
    cursor: default;
    &:hover {
      background: rgba($green, .07);
    }
  }
  .half {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba($green, .07);
  }
}