.root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.popover-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(darken($brand-primary, 30%), .7);
    z-index: 1;
  }
  .modal-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    z-index: 2;
    border-radius: 5px;
    box-shadow: $main-box-shadow;
    @include transform(translate(-50%, -50%));
    @media screen and (max-width: $screen-sm) {
      width: 80vw;
      min-height: 60vh;
    }
    background: white;
    @include flexbox;
    @include flex-direction(column);
    min-height: 300px;
    .modal-header, .modal-footer {
      @include flex-grow(0);
      @include flex-shrink(0);
      padding: 0 20px;
    }
    .modal-body {
      padding: 20px;
      text-align: center;
      @include flex-grow(1);
      h3 {
        color: $brand-primary;
        font-size: 22px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      p.accent {
        font-weight: 600;
      }
      .icon {
        i {
          font-size: 70px;
          color: $brand-primary;
        }
      }
    }
    .modal-header {
      background: $brand-primary;
      color: white;
      text-align: right;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .modal-footer {
      text-align: center;
      padding: 0 20px 20px 20px;
      button {
        padding: 7px 25px;
      }
    }
    .close {
      border: 0;
      color: white;
      font-size: 12px;
      padding: 10px 0;
    }
  }
}

.avatar {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  &:hover {
    .ovrl {
      opacity: 1;
      visibility: visible;
    }
  }
  .ovrl {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: rgba($brand-primary, .8);
    text-align: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    @include transition(.4s);
    label {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      line-height: 22px;
      font-size: 22px;
      &:hover {
        color: $brand-primary;
      }
      input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
      }
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      color: white;
      font-size: 32px;
    }
  }
}

.tabs-heading {
  margin: 0;
  padding: 0;
  list-style: none;
  @include flexbox;
  border-bottom: 1px solid $gray-lighter;
  @media screen and (max-width: $screen-sm) {
    text-align: center;
  }
  li {
    position: relative;
    cursor: pointer;
    @include flex-grow(1);
    &:not(:last-child) {
      border-right: 1px solid $gray-lighter;
    }
    @media screen and (max-width: $screen-sm) {
      padding: 10px;
    }
    a {
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 32px;
      font-weight: 500;
      color: $base-text-color;
    }
    @media screen and (min-width: $screen-sm) {
      &:hover {
        &:after {
          content: "";
          position: absolute;
          display: block;
          height: 3px;
          width: 100%;
          bottom: 0;
          left: 0;
          background: $brand-primary;
        }
      }
    }
    &.active {
      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: $brand-primary;
      }
    }
  }
}

.block-item {
  border-top: 1px solid $gray-lighter;
  @include flexbox;
  @include flex-grow(0);
  @include flex-shrink(0);
  overflow: hidden;
  padding: 15px 10px;
  h3, p, button {
    position: relative;
    z-index: 2;
  }
  .checkbox-cont {
    z-index: 1;
  }
  &:first-child {
    border-top: none;
  }
  label {
    margin-right: 10px;
  }
  .settings {
    margin-top: 10px;
  }
  .button-expand {
    padding-left: 0;
    padding-right: 0;
    border: 0;
  }
  &.water {
    h3 {
      span {
        color: $water-block-color;
      }
    }
    .circle {
      background-color: $water-block-color;
    }
  }
  &.dailyTask {
    h3 {
      color: $daily-task-color;
    }
    .checkbox {
      border-color: $daily-task-color;
    }
    .circle {
      background-color: $daily-task-color;
    }
  }
  &.meditation {
    h3 {
      color: $meditation-color;
    }
    .checkbox {
      border-color: $meditation-color;
      i {
        color: $meditation-color;
      }
    }
    .circle {
      background-color: $meditation-color;
    }
  }
  &.sport {
    h3 {
      color: $sport-color;
    }
    .checkbox {
      border-color: $sport-color;
      i {
        color: $sport-color;
      }
    }
    .circle {
      background-color: $sport-color;
    }
  }
  &.kind {
    h3, .button-expand {
      color: $kind-color;
    }
    .checkbox {
      border-color: $kind-color;
    }
    .circle {
      background-color: $kind-color;
    }
  }
  &.report {
    h3, .button-expand {
      color: $report-color;
    }
    .checkbox {
      border-color: $report-color;
    }
    .circle {
      background-color: $report-color;
    }
  }
  &.wakeUp {
    h3, .button-expand {
      color: $wake-up-color;
    }
    .checkbox {
      border-color: $wake-up-color;
    }
    .circle {
      background-color: $wake-up-color;
    }
  }
  &.taskList {
    h3, .button-expand {
      color: $tasks-color;
    }
    .checkbox {
      border-color: $tasks-color;
      .half {
        background-color: rgba($tasks-color, .2);
      }
    }
    .circle {
      background-color: $tasks-color;
    }
  }
  &.red {
    h3, .button-expand {
      color: $red;
    }
    .checkbox {
      border-color: $red;
    }
    .circle {
      background-color: $red;
    }
  }
  &.orange {
    h3, .button-expand {
      color: $orange;
    }
    .checkbox {
      border-color: $orange;
    }
    .circle {
      background-color: $orange;
    }
  }
  &.yellow {
    h3, .button-expand {
      color: $yellow;
    }
    .checkbox {
      border-color: $yellow;
    }
    .circle {
      background-color: $yellow;
    }
  }
  &.lawngreen {
    h3, .button-expand {
      color: $lawngreen;
    }
    .checkbox {
      border-color: $lawngreen;
    }
    .circle {
      background-color: $lawngreen;
    }
  }
  &.green {
    h3, .button-expand {
      color: $green;
    }
    .checkbox {
      border-color: $green;
    }
    .circle {
      background-color: $green;
    }
  }
  &.blue {
    h3, .button-expand {
      color: $blue;
    }
    .checkbox {
      border-color: $blue;
    }
    .circle {
      background-color: $blue;
    }
  }
  &.violet {
    h3, .button-expand {
      color: $violet;
    }
    .checkbox {
      border-color: $violet;
    }
    .circle {
      background-color: $violet;
    }
  }
  &.magenta {
    h3, .button-expand {
      color: $magenta;
    }
    .checkbox {
      border-color: $magenta;
    }
    .circle {
      background-color: $magenta;
    }
  }
  &:not(.text) {
    > div {
      padding-right: 10px;
    }
  }
  &.add {
    margin-bottom: 20px;
    h3 {
      color: $green;
      margin-top: 0;
      margin-bottom: 0;
    }
    >div:nth-child(1) {
      margin-bottom: 0;
    }
    >div:nth-child(2) {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
    }
  }
  &._passed {
    h3, p {
      color: white !important;
    }
    .checkbox {
      border-color: white !important;
      i {
        color: white !important;
      }
      background: transparent;
    }
    .dropdown {
      .cont {
        color: white !important;
        border-color: rgba(white, .5);
      }
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 28px;
    @media screen and (max-width: $screen-sm) {
      font-size: 20px;
    }
    sup {
      color: $red;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    color: $gray;
    @media screen and (max-width: $screen-sm) {
      font-size: 14px;
    }
  }
  > div {
      //@extend %center-content;
    &:nth-child(1) {
      @media screen and (min-width: $screen-sm) {
        margin-bottom: 20px;
      }
    }
    &:nth-child(2) {
      @include flex-grow(1);
      @include justify-content(center);
      @include flexbox;
      @include flex-direction(column);
    }
  }
  &.text {
    @include flex-direction(column);
    .task-text {
      font-size: 20px;
      margin-bottom: 10px;
      color: $base-text-color;
      margin-top: -25px;
      @media screen and (max-width: $screen-sm) {
        margin-top: 0;
      }
    }
    > div {
      @include flexbox;
      > div {
        &:nth-child(1) {
          padding-right: 10px;
        }
        &:nth-child(2) {
          @include flex-grow(1);
        }
        &:nth-child(2), &:nth-child(3) {
          @include justify-content(center);
          @include flexbox;
          @include flex-direction(column);
        }
      }
      &:nth-child(2) {
        .checkbox {
          opacity: 0;
          visibility: hidden;
        }
        @media screen and (max-width: $screen-sm) {
          > div:nth-child(1) {
            padding-right: 0;
          }
          .checkbox {
            display: none;
          }
        }
      }
    }
  }
  textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    @media screen and (max-width: $screen-sm) {
      font-size: 16px;
    }
  }
  &.tasks-block {
    @include flex-direction(column);
    > div {
      @include flexbox;
      > div {
        &:nth-child(1) {
          padding-right: 10px;
        }
        &:nth-child(2) {
          @include flex-grow(1);
        }
        &:nth-child(2), &:nth-child(3) {
          @include justify-content(center);
          @include flexbox;
          @include flex-direction(column);
        }
      }
      &:nth-child(2) {
        > div:nth-child(1) {
          .checkbox {
            opacity: 0;
            visibility: hidden;
          }
          @media screen and (max-width: $screen-sm) {
            padding-right: 10px;
            .checkbox {
              display: none;
            }
          }
        }
      }
    }
    &._passed {
      .tasks {
        .task {
          .checkbox {
            border-color: white;
            color: white;
          }
          h3, h4 {
            z-index: 2;
            color: white !important;
          }
        }
      }
    }
    .tasks {
      margin-top: -35px;
      margin-left: 15px;
      @media screen and (max-width: $screen-sm) {
        margin-top: 5px;
      }
      .task {
        @include flexbox;
        margin-top: 10px;
        > div {
          &:nth-child(1) {
            @extend %no-flex;
            margin-right: 7px;
          }
          &:nth-child(2) {
            @include flex-grow(1);
            @extend %center-content;
          }
        }
        .checkbox {
          width: 33px;
          height: 33px;
          padding: 0;
          &.checked {
            border-color: $green;
          }
          i {
            font-size: 18px;
          }
        }
        h4 {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 16px;
        }
        &.add {
          > div {
            h3 {
              color: $green;
            }
            &:nth-child(2) {
              @include justify-content();
            }
          }
        }
      }
    }
  }
}

.login-page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-bottom: 50px;
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(white, .8);
    z-index: 2;
  }
  .ovrl {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(/images/clouds.jpg);
    background-position: center center;
    @extend .scaling;
    z-index: 1;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    &.divide {
      position: relative;
      //&:before {
      //  content: "";
      //  display: block;
      //  position: absolute;
      //  height: 1px;
      //  background: $gray-light;
      //  width: 100%;
      //  left: 0;
      //  top: 0;
      //}
    }
  }
  .error {
    text-align: center;
    color: $red;
    margin-top: 0;
  }
  .form-cont {
    position: relative;
    background: white;
    overflow: hidden;
    @include flex-shrink(0);
    width: 330px;
    padding-bottom: 50px;
    z-index: 10;
    @include flexbox;
    text-align: center;
    @include flex-direction(column);
    @include justify-content(flex-end);
    @media screen and (max-width: $screen-sm) {
      position: absolute;
      width: 100vw;
      height: 100vh;
      border-radius: 0;
    }
    @extend %center-self;
    .form-item {
      position: relative;
      text-align: left;
      border-bottom: 1px solid white;
      .label {
        position: absolute;
        height: 32px;
        left: 0;
        text-align: center;
        top: 5px;
        line-height: 32px;
        i {
          color: white;
          font-size: 20px;
        }
      }
      input {
        border-color: transparent;
        background: transparent;
        color: white;
        width: 90%;
        padding-left: 30px;
        font-weight: 500;
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:    white;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    white;
          opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    white;
          opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color:    white;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
          color:    white;
        }
      }
      a {
        position: absolute;
        right: 0;
        color: white;
        font-weight: bold;
        font-size: 12px;
        top: 15px;
      }
    }
    .no-account {
      font-weight: 400;
      a {
        font-weight: 600;
        color: $blue;
      }
      margin-bottom: 12.5vh;
    }
    .logo {
      width: 100%;
      left: 0;
      top: 12vh;
      height: 180px;
      text-align: center;
      svg {
        width: 45%;
      }
    }
    button {
      padding-left: 70px;
      padding-right: 70px;
      margin-top: 20px;
      font-size: 20px;
      width: 100%;
      margin-bottom: 10px;
      background: $lawngreen;
      color: white;
      border: none;
      @media screen and (max-width: $screen-sm) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .enter-with {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    .social-networks {
      position: absolute;
      width: 100%;
      height: 100%;
      @include flexbox;
    }
    button {
      width: 32%;
      margin: 0;
      padding: 5px 0;
      border-radius: 0;
      @include flex-grow(1);
      border: 0;
      color: white;
      text-transform: none;
      font-weight: 300;
      span {
        font-weight: 500;
      }
      &.facebook {
        background-color: #3b5998;
        &:hover {
          background: darken(#3b5998, 10%);
        }
      }
      &.twitter {
        background-color: #00aced;
        &:hover {
          background-color: darken(#00aced, 10%);
        }
      }
      &.vk {
        background-color: #4c75a3;
        &:hover {
          background-color: darken(#4c75a3, 10%);
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(1.1));
  }
  100% {
    @include transform(scale(1));
  }
}

@keyframes scaling {

  from, to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50%{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }

}

.scaling {

  -webkit-animation-name: scaling;
  animation-name: scaling;
  -webkit-animation-duration: 70s;
  animation-duration: 70s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.ui-pnotify {
  @media screen and (max-width: $screen-sm) {
    width: 100% !important;
    border-radius: 0 !important;
    right: 0 !important;
    @include transform(translate(0, -25px));
  }
}

.user-icon {

}

.chat-icon {

}

.list-icon {

}

.history-icon {

}

.plus-icon {

}

#loading {
  h4 {
    color: $gray-light;
  }
}
