body {
  background: $gray-lighter;
}

.paper {
  background: white;
  box-shadow: $main-box-shadow;
  border-radius: 5px;
  padding: $base-padding;
}

.container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  &.paper {
    background: white;
    box-shadow: $main-box-shadow;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: $base-padding;
    &.no-padding {
      padding: 0;
    }
    @media screen and (max-width: $screen-sm) {
      width: 100%;
      margin: 0 !important;
      border-radius: 0;
    }
  }
}

.scroll-wrap {
  @include flexbox;
  @include flex-direction(column);
}

.scrollable {
  @include flex-grow(1);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  ::-webkit-scrollbar {
    display:none;
  }
}

%mobile-menu {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 70vw;
}

.page {
  height: 100%;
  @include flex-grow(1);
  @include flexbox;
}

.root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  > .loaded {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox;
    @media screen and (max-width: $screen-sm) {
      @include transition(.4s);
      @include transform(translate(-250px, 0));
      &._menu-opened {
        @include transform(translate(0, 0));
        .close-overlay {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .side-menu {
    width: 250px;
    @include flex-grow(0);
    @include flex-shrink(0);
    z-index: 100;
    @media screen and (max-width: $screen-sm) {
      position: fixed;
      height: 100%;
      top: 0;
      left: 0;
    }
    .user-link {
      @include flexbox;
      > span {
        display: block;
        &:nth-child(1) {
          @include flex-grow(0);
          @include flex-shrink(0);
          padding: 12px 15px;
        }
        &:nth-child(2) {
          @include flexbox;
          @include flex-direction(column);
          @include flex-grow(1);
          @include justify-content(center);
          span {
            span {
              display: block;
              color: white;
              font-size: 18px;
              &:nth-child(2) {
                font-family: $font-family-header;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      .avatar {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }
    nav {
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          a {
            display: block;
            padding: 12px 15px;
            font-size: 16px;
          }
        }
      }
    }
    nav ul li a, .user-link {
      position: relative;
      text-align: left;
      color: white;
      i {
        width: 18px;
        font-size: 20px;
      }
      &.active, &:hover {
        background: rgba(darken($brand-primary, 20%), .5);
        i {
          color: $brand-primary;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          background: white;
          top: 0;
          left: 0;
          width: 3px;
          height: 100%;
        }
      }
    }
  }
  .main-content {
    position: relative;
    @include flexbox;
    @include flex-grow(1);
    @include flex-direction(column);
    @include flex-shrink(0);
    > header {
      height: $header-height;
      @extend %no-flex;
      z-index: 10;
    }
    .content {
      @include flex-grow(1);
      @include flexbox;
      @include flex-direction(column);
      //@include transform(translateZ(0));
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      overflow-y: scroll;
    }
    @media screen and (max-width: $screen-sm) {
      width: 100vw;
    }
    .close-overlay {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      border: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      border-radius: 0;
      background: rgba(255, 255, 255, .9);
      @include transition(.4s);
      > div {
        position: absolute;
        left: 10px;
        top: 50%;
        @include transform(translate(0, -50%));
        width: 50px;
        span {
          display: block;
          text-align: center;
          color: $gray-darker;
          font-size: 20px;
          margin-bottom: 28px;
        }
      }
    }
  }
}

.modal {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(black, .3);
  .modal-cont {
    position: absolute;
    width: 500px;
    min-height: 250px;
    top: 50%;
    left: 50%;
    padding: 15px;
    @include transform(translate(-50%, -50%));
    background: white;
    text-align: center;
    @media screen and (max-width: $screen-sm) {
      width: 100%;
      height: 100%;
      border-radius: 0;
      background: rgba(white, .9);
    }
    h3 {
      span {
        text-transform: uppercase;
      }
    }
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 5px auto;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 30px;
      border: 0;
      background: transparent;
      color: $gray;
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .submit {
    width: 250px;
    margin: 10px;
  }
}
