#fees-modal {
  .modal-header {
    background: $red;
  }
  h3, i {
    color: $red;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    li {
      @include flexbox;
      margin-bottom: 3px;
      > div {
        @include flex-grow(1);
        &:nth-child(1) {
          font-weight: 500;
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}