#header {
  position: relative;
  @include flexbox;
  background: white;
  padding: 0 $base-padding;
  @include flex-grow(0);
  @include flex-shrink(0);
  background: $brand-primary;
  color: white;
  &.my-day {
    background: $lawngreen;
  }
  &.history {
    background: $green;
  }
  &.today {
    background: $blue;
  }
  &.chats {
    background: $violet;
  }
  @media screen and (max-width: $screen-sm) {
    padding-top: 30px;
    height: auto !important;
    text-align: center;
  }
  > div, > aside {
    @extend %center-content;
  }
  > div {
    @include flex-grow(1);
    h2 {
      margin: 0;
      @media screen and (max-width: $screen-sm) {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
  > aside {
    @extend %no-flex;
    button {
      border: 0;
    }
  }
  .toggle-menu, .toggle-notifications {
    position: absolute;
    font-size: 24px;
    bottom: 0;
    border: 0;
    color: white;
    &.toggle-menu {
      left: 3px;
    }
    &.toggle-notifications {
      right: 3px;
    }
    @media screen and (min-width: $screen-sm) {
      display: none;
    }
    &:hover {
      background: transparent;
      color: $brand-primary;
    }
  }
}