#header {
  @include flexbox;
  background: white;
  padding: 0 $base-padding;
  > div, > aside {
    @extend %center-content;
  }
  > div {
    @include flex-grow(1);
    h2 {
      margin: 0;
    }
  }
  > aside {
    @extend %no-flex;
    button {
      border: 0;
    }
  }
}