#header {
  position: relative;
  @include flexbox;
  background: white;
  padding: 0 $base-padding;
  @media screen and (max-width: $screen-sm) {
    text-align: center;
  }
  > div, > aside {
    @extend %center-content;
  }
  > div {
    @include flex-grow(1);
    h2 {
      margin: 0;
    }
  }
  > aside {
    @extend %no-flex;
    button {
      border: 0;
    }
  }
  .toggle-menu, .toggle-notifications {
    position: absolute;
    font-size: 24px;
    top: 0;
    border: 0;
    &.toggle-menu {
      left: 3px;
    }
    &.toggle-notifications {
      right: 3px;
    }
    @media screen and (min-width: $screen-sm) {
      display: none;
    }
    &:hover {
      background: transparent;
      color: $brand-primary;
    }
  }
  .logo {
    font-size: 16px;
    text-transform: uppercase;
    color: $brand-primary;
    @media screen and (min-width: $screen-sm) {
      display: none;
    }
  }
}