#logo-icon {
  .st0{fill: $blue;}
  .st1{fill: #9882b9;}
  .st2{fill:#ef79a3;}
  .st3{fill:#1A1715;}
  .st4{fill: #00b27b;}
  .st5{fill:#E3C352;}
  .st6{fill: $blue;}
  .st7{fill: #9882b9;}
  .st8{fill:#ef79a3;}
  .st9{fill: #f3c647;}
  .st10{fill:#00b27b;}
  .st11{fill: black;}
  .st12{fill: black;}
}