.login-page {
  .logo {
    width: 100%;
    left: 0;
    top: 12vh;
    height: 200px;
    text-align: center;
    svg {
      width: 45%;
    }
  }
  .circles {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    z-index: 1;
    > div {
      position: absolute;
      width: 100vh;
      height: 100vh;
      background: $green;
      border-radius: 50%;
      &:nth-child(1) {
        top: 5vh;
      }
      &:nth-child(2) {
        left: -45vh;
        top: 5vh;
        background: $blue;
      }
      &:nth-child(3) {
        width: 150vh;
        height: 150vh;
        top: 22vh;
        left: -52vh;
        background: $violet;
      }
      &:nth-child(4) {
        width: 80vh;
        height: 80vh;
        top: 20vh;
        left: 30vh;
        background: $yellow;
      }
    }
  }
  .stick-down {
    position: relative;
    z-index: 2;
  }
  .enter-with {
    z-index: 3;
  }
}