#mobile-menu {
  height: 60px;
  @include flex-grow(0);
  @include flex-shrink(0);
  z-index: 10;
  background: white;
  border-top: 1px solid $gray-lighter;
  @media screen and (min-width: $screen-sm) {
    display: none;
  }
  nav {
    ul {
      @include flexbox;
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        position: relative;
        @include flex-grow(1);
        text-align: center;
        padding: 0;
        svg {
          width: 37px;
          height: 37px;
          fill: $gray-light;
          stroke: $gray-light;
        }
        button {
          padding: 10px;
          &._active {
            svg {
              fill: $blue;
              stroke: $blue;
            }
            .user-icon {
              fill: $red;
              stroke: $red;
            }

            .chat-icon {
              fill: $violet;
              stroke: $violet;
            }

            .history-icon {
              fill: $green;
              stroke: $green;
            }

            .plus-icon {
              fill: $lawngreen;
              stroke: $lawngreen;
            }
          }
        }
      }
    }
  }
}