#user-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, .92);
  z-index: 2000;
  text-align: center;
  padding: 20px;
  .avatar {
    width: 180px;
    height: 180px;
    margin: 50px auto 30px auto;
    border: 2px solid white;
  }
  .close {
    position: absolute;
    font-size: 32px;
    color: white;
    border: 0;
    top: 40px;
    right: 20px;
    &:hover {
      background-color: transparent;
    }
  }
  h2, h3, p {
    display: block;
    color: white;
  }
  h3 {
    font-size: 32px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 200;
  }
  h2 {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 10px;
  }
  .sphere {
    color: $brand-primary;
  }
  .name {
    margin-bottom: 20px;
  }
  .links {
    text-align: center;
    button {
      padding: 0;
      border: 0;
      &:hover {
        background: transparent;
      }
      font-size: 50px;
      margin: 0 10px;
    }
  }
  p {
    margin-top: 10px;
  }
  .social-link {
    &.facebook {
      color: #3b5998;
    }
    &.vk {
      color: #45668e;
    }
    &.instagram {
      color: #e1306c;
    }
  }
}