// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #999;
$gray-lighter: #f6f6f6;
$gray-light: #b3b3b3;
$gray-darker: #595d69;
$black: #000;
$white: #fff;
$light-blue: #71bbff;
$blue: #47b6f3;
$pale-blue: rgb(212, 229, 248);
$red: rgb(248, 101, 83);
$magenta: rgb(237, 100, 164);
$violet: rgb(166, 136, 226);
$orange: rgb(248, 128, 40);
$yellow: #f4cc2a;
$green: #3ede8d;
$lawngreen: #b4e02a;
$water-color: #80cbff;

$daily-task-color: $blue;
$wake-up-color: $green;
$sport-color: $lawngreen;
$meditation-color: $yellow;
$tasks-color: $orange;
$water-block-color: $red;
$kind-color: $magenta;
$report-color: $violet;

$header-height: 50px;
$base-padding: 20px;

$main-box-shadow: 0 0 5px rgba(0, 0, 0, .15);

$brand-primary: $blue;
$brand-secondary: rgba(255, 233, 62, 0.91);

$base-font-sans-serif: 'SourceSansPro';
$base-font-serif: 'Times', 'Baskerville', 'Georgia', serif;

$font-family-text: $base-font-sans-serif;
$font-family-header: 'SourceSansPro';
$font-family-accent: $base-font-serif;

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

$screen-md:                  1024px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

$screen-lg:                  1250px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$base-text-color: $gray-darker !default;
$base-background-color: $gray-lighter !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;
$base-font-weight: 300 !default;
$base-box-shadow: 0 0 3px rgba(0, 0, 0, .1);

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 1400px;

$gutter-width: 10px;

$base-link-color: $brand-primary;

$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $blue !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;

$animation-speed: 0.3s;

$inverse-color: $white;
$base-brand-color: $blue;

$header-height: 42px;
$base-padding: 20px;