#description {
  i {
    color: $green;
  }
  h1, h2, h3, h4 {
    color: $green !important;
  }
  .footer {
    button:not(.back) {
      background: $green;
      border: 0;
      color: white;
      &:hover {
        background: darken($green, 10%);
      }
    }
    .back {
      color: $green;
    }
  }
}