#history-desc {
  i {
    color: $lawngreen;
  }
  h1, h2, h3, h4 {
    color: $lawngreen !important;
  }
  .footer {
    button:not(.back) {
      background: $lawngreen;
      border: 0;
      color: white;
      &:hover {
        background: darken($lawngreen, 10%);
      }
    }
    .back {
      color: $lawngreen;
    }
  }
}