#onboard {
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  top: 0;
  overflow: hidden;
  left: 0;
  @media screen and (min-width: $screen-sm) {
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba($brand-primary, .5);
      z-index: 2;
    }
  }
  &.about {
    .steps {
      > span._active {
        background: $green;
      }
    }
  }
  &.history {
    .steps {
      > span._active {
        background: $lawngreen;
      }
    }
  }
  &.fees {
    .steps {
      > span._active {
        background: $yellow;
      }
    }
  }
  &.final {
    .steps {
      > span._active {
        background: $red;
      }
    }
  }
  .steps {
    text-align: center;
    > span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      background: $gray-lighter;
      font-size: 20px;
      font-weight: bold;
      color: rgba(0, 0, 0, .2);
      margin: 0 5px;
      &._active {
        background: $brand-primary;
      }
    }
  }
  .ovrl {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(/images/clouds.jpg);
    background-position: center center;
    @extend .scaling;
    z-index: 1;
  }
  .onboard-cont {
    position: relative;
    z-index: 2;
    @extend %center-self;
    background: white;
    width: 600px;
    height: 500px;
    @media screen and (max-width: $screen-sm) {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0;
      width: 100%;
      padding-top: 35px;
      height: 100%;
      background: rgba(255, 255, 255, 1);
      @include transform(translate(0, 0));
    }
  }
  .content {
    padding: 30px;
    @media screen and (max-width: $screen-sm) {
      padding: 10px 0;
    }
    h1, h2, h3, h4 {
      color: $brand-primary;
      text-transform: uppercase;
    }
    h3 {
      @media screen and (max-width: $screen-sm) {
        margin-top: 10px;
      }
    }
    .icon {
      svg {
        width: 120px;
        height: 120px;
        stroke: $blue;
        fill: $blue;
      }
    }
    p {
      font-size: 16px;
      @media screen and (max-width: $screen-sm) {
        font-size: 14px;
      }
    }
    .footer {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 30px;
      button {
        width: 180px;
        font-size: 22px;
        @media screen and (max-width: $screen-sm) {
          font-size: 18px;
        }
      }
      .back {
        position: absolute;
        left: 0;
        width: 50px;
        border: 0;
        &:hover {
          background-color: transparent;
          color: darken($brand-primary, 20%);
        }
      }
    }
  }
}

svg.onboard-history-icon {
  position: relative;
  top: 7px;
  left: 2px;
  stroke: $lawngreen !important;
  fill: $lawngreen !important;
}