#taxes {
  i {
    color: $yellow;
  }
  h1, h2, h3, h4 {
    color: $yellow !important;
  }
  .footer {
    button:not(.back) {
      background: $yellow;
      border: 0;
      color: white;
      &:hover {
        background: darken($yellow, 10%);
      }
    }
    .back {
      color: $yellow;
    }
  }
}