.editable-block {
  .text, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid $gray-lighter;
    border-radius: 7px;
    margin: 0;
  }
  textarea {
    height: 120px;
  }
  .text {
    background: $gray-lighter;
  }
  .buttons {
    text-align: right;
    margin-top: 10px;
    @include flexbox;
    button {
      font-size: 12px;
      margin-left: 10px;
      @include flex-grow(1);
      &.skip {
        color: $red;
      }
      &.save {
        color: $green;
      }
    }
  }
}