.history-item {
  position: relative;
  margin: 10px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  .stripe {
    height: 3px;
    top: 0;
    @include flexbox;
    span {
      display: block;
      @include flex-grow(1);
      &:first-child {
        border-top-left-radius: 3px;
      }
      &:last-child {
        border-top-right-radius: 3px;
      }
      &.dailyTask {
        background: $daily-task-color;
      }
      &.wakeUp {
        background: $wake-up-color;
      }
      &.sport {
        background: $sport-color;
      }
      &.meditation {
        background: $meditation-color;
      }
      &.water {
        background: $water-block-color;
      }
      &.taskList {
        background: $tasks-color;
      }
      &.report {
        background: $report-color;
      }
      &.kind {
        background: $kind-color;
      }
      &.failed {
        background: lighten($gray-light, 10%);
      }
    }
  }
  header, .history-text-block {
    padding: 15px 10px;
    p {
      font-weight: 400;
      &.success {
        color: $green;
      }
    }
    strong {
      i {
        color: $green;
      }
    }
  }
  header {
    p:nth-child(2) {
      font-weight: 200;
      span {
        font-weight: 400;
      }
    }
    i {
      color: $blue;
    }
  }
  p {
    margin: 0;
  }
  header {
    background: $gray-lighter;
    @include flexbox;
    p {
      @include flex-grow(1);
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
  .fee {
    background: $red;
    color: white;
    padding: 10px;
  }
  .vacation {
    background: $blue;
    color: white;
    padding: 10px;
    font-weight: 400;
    i {
      margin-right: 5px;
    }
  }
  .history-text-block {
    &:not(:last-child) {
      border-bottom: 1px solid $gray-lighter;
    }
    .heading {
      @include flexbox;
      > span {
        @include flex-grow(1);
      }
    }
    &.dailyTask {
      .heading {
        span {
          font-size: 20px;
        }
      }
    }
    button {
      border: 0;
      padding-right: 0;
      @media screen and (max-width: $screen-md) {
        &:hover {
          background: white;
          color: $brand-primary;
        }
      }
    }
  }
}