.history-item {
  &:not(:last-child) {
    margin-bottom: 70px;
  }
  header {
    @include flexbox;
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 10px;
    p {
      width: 50%;
      margin: 0;
      font-size: 24px;
      @media screen and (max-width: $screen-sm) {
        font-size: 16px;
      }
      span {
        color: $brand-primary;
      }
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
  .summary {
    @include flexbox;
    @include align-items(center);
    margin: 10px 0;
    p {
      margin: 0;
      font-size: 18px;
      margin-right: 20px;
      @media screen and (max-width: $screen-sm) {
        font-size: 14px;
      }
      span {
        margin-right: 10px;
      }
    }
    >div {
      padding-right: 10px;
      > div {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        border: 1px solid $green;
        color: $green;
        line-height: 31px;
        text-align: center;
        font-size: 18px;
      }
    }
    &.fails {
      > div {
        > div {
          border-color: $red;
          color: $red;
        }
      }
    }
  }
}

.historyy-item {
  position: relative;
  margin: 10px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  .stripe {
    height: 3px;
    top: 0;
    @include flexbox;
    span {
      display: block;
      @include flex-grow(1);
      &:first-child {
        border-top-left-radius: 3px;
      }
      &:last-child {
        border-top-right-radius: 3px;
      }
      background: $blue;
      &:nth-child(2) {
        background: $green;
      }
      &:nth-child(3) {
        background: $lawngreen;
      }
      &:nth-child(4) {
        background: $yellow;
      }
      &:nth-child(5) {
        background: $red;
      }
      &:nth-child(6) {
        background: $magenta;
      }
      &:nth-child(7) {
        background: $violet;
      }
    }
  }
  header, .fee, .text-task {
    padding: 15px 10px;
    p {
      font-weight: 400;
      &.success {
        color: $green;
      }
    }
    strong {
      i {
        color: $green;
      }
    }
  }
  header {
    p:nth-child(2) {
      font-weight: 200;
      span {
        font-weight: 400;
      }
    }
    i {
      color: $blue;
    }
  }
  p {
    margin: 0;
  }
  header {
    background: $gray-lighter;
    @include flexbox;
    p {
      @include flex-grow(1);
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
  .fee {
    background: $red;
    color: white;
  }
  .text-task {
    &:not(:last-child) {
      border-bottom: 1px solid $gray-lighter;
    }
    @include flexbox;
    > span {
      @include flex-grow(1);
    }
    &.daily-task {
      span {
        font-size: 20px;
      }
    }
    button {
      border: 0;
      padding-right: 0;
    }
  }
}