#first-day {
  @include flexbox;
  @include flex-direction(column);
  @include flex-grow(1);
  p, svg {
    opacity: 0;
    @include transition(.4s);
  }
  > div {
    @include flexbox;
    @include flex-direction(column);
    @include flex-grow(1);
    position: relative;
    &:nth-child(1) {
      @include justify-content(flex-end);
      .arrow-icon {
        left: 50%;
        top: 0;
        @include transform(translate(-50%, -10%));
        transition-delay: .2s;
        -webkit-transition-delay: .2s;
      }
    }
    &:nth-child(2) {
      p {
        padding-top: 0;
        transition-delay: 1.8s;
        -webkit-transition-delay: 1.8s;
      }
      .arrow-icon {
        left: 5vw;
        bottom: 3vw;
        @include transform(rotate(-160deg) translate(0, -10%));
        fill: $lawngreen;
        stroke: $lawngreen;
        transition-delay: 2s;
        -webkit-transition-delay: 2s;
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      padding: 30px;
      color: $gray-light;
    }
  }
  .arrow-icon {
    position: absolute;
    width: 20vw;
    height: 20vw;
  }
  &._animated {
    > div {
      &:nth-child(1) {
        p {
          opacity: 1;
        }
        .arrow-icon {
          opacity: 1;
          @include transform(translate(-50%, 0));
        }
      }
      &:nth-child(2) {
        p {
          opacity: 1;
        }
        .arrow-icon {
          opacity: 1;
          @include transform(translate(0, 0) rotate(-160deg));
        }
      }
    }
  }
}