.tasks-block {
  h3 {
    color: $tasks-color;
  }
  .checkbox {
    border-color: $tasks-color;
  }
  .tasks {
    @media screen and (max-width: $screen-sm) {
      margin-top: 30px;
      margin-left: 5px;
    }
    .checkbox {
      border-color: $gray-light;
    }
  }
  .task {
    .checkbox {
      line-height: 38px !important;
      i {
        font-size: 22px !important;
      }
    }
    .remove {
      position: relative;
      left: 10px;
      border: 0;
      color: $red;
      &:hover {
        background-color: transparent;
      }
    }
    &.add {
      .checkbox {
        border: 0 !important;
        line-height: 40px !important;
      }
      input {
        padding: 0;
        font-weight: 500;
        line-height: 32px;
        border: 0;
        border-bottom: 1px solid lighten($gray-light, 20%);
        border-radius: 0;
        &:focus {
          border-color: $green;
        }
      }
    }
  }
}