.block-item.text {
  .answer {
    padding: 10px;
    font-size: 16px;
    color: $base-text-color;
    background: $gray-lighter;
    border-radius: 7px;
  }
  .task-text {
    p {
      margin-top: 10px;
      color: $base-text-color;
    }
  }
  .send {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-sm) {
      display: none;
    }
  }
}