.block-item.text {
  .answer {
    padding: 10px;
    font-size: 18px;
    color: $base-text-color;
    background: $gray-lighter;
    border-radius: 7px;
  }
  &._passed {
    .answer {
      color: white;
      background: transparent;
      border: 1px solid white;
    }
    i {
      color: white;
    }
  }
  .task-text {
    p {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      color: $base-text-color;
    }
  }
  .desc {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .send {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-sm) {
      display: none;
    }
  }
  .expand {
    display: none;
    &._expanded {
      display: block;
    }
  }
  .symbols-left {
    font-size: 12px;
  }
}