#today {
  header {
    position: relative;
    padding: $base-padding / 2;
    padding-bottom: 0;
    background: $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    .success {
      color: $green;
    }
    h2 {
      @include flexbox;
      font-weight: normal;
      > span {
        &:nth-child(2) {
          @include flex-grow(1);
          text-align: right;
        }
      }
      margin-top: 0;
      @media screen and (max-width: $screen-sm) {
        font-size: 16px;
      }
    }
    strong {
      color: $brand-primary;
    }
    .status-stripe {
      position: absolute;
      @include flexbox;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 3px;
      background: darken($gray-lighter, 10%);
      span {
        background: $brand-primary;
        border-right: 1px solid $gray-lighter;
        &.wakeUp {
          background: $wake-up-color;
        }
        &.sport {
          background: $sport-color;
        }
        &.meditation {
          background: $meditation-color;
        }
        &.water {
          background: $water-block-color;
        }
        &.taskList {
          background: $tasks-color;
        }
        &.report {
          background: $report-color;
        }
        &.kind {
          background: $kind-color;
        }
      }
    }
  }
  .content {
    padding-top: 0;
  }
  .block-item {
    &.meditation {

    }
  }
}