#choose-picture-source {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9998;
  .upload {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 50%;
    border: 0;
    border-radius: 0;
    > div {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
    }
    i {
      font-size: 50px;
    }
    h3 {
      margin-top: 15px;
      margin-bottom: 0;
    }
    i, h3 {
      color: white;
    }
    &:nth-child(1) {
      background: rgba($blue, .9);
    }
    &:nth-child(2) {
      top: 50%;
      background: rgba($green, .9);
    }
  }
  .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($lawngreen, .9);
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      h1, h4 {
        color: white;
        text-align: center;
      }
      h4 {
        margin-top: 0;
        font-size: 24px;
      }
      h1 {
        margin: 0;
        margin-top: 15px;
        font-size: 50px;
      }
    }
  }
  .close {
    background-color: transparent;
    border: 0;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 10px;
    color: white;
    z-index: 9999;
  }
}