#profile-blocks {
  @include flexbox;
  width: 100%;
  margin: 0 auto;
  .container {
    min-height: 500px;
    @include flexbox;
    @include flex-direction(column);
    @include flex-grow(1);
    > h3 {
      font-size: 34px;
      @media screen and (max-width: $screen-sm) {
        font-size: 18px;
      }
    }
  }
  .blocks {
    position: relative;
    @include flex-grow(1);
    height: 100%;
    .block-item {
      padding: $base-padding;
    }
    .block-item:first-child {
      border-top: none;
    }
    .blocks-cont {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    .task-item {
      text-align: center;
      overflow: hidden;
      padding: 10px 30px 30px 30px;
      &:not(._enabled) {
        border-bottom: 1px solid $gray-lighter;
      }
      sup {
        color: $red;
      }
      p {
        font-weight: 400;
      }
      .settings {
        padding-bottom: $base-padding;
        select {
          height: 24px;
        }
        label {
          padding-right: 5px;
        }
      }
      svg {
        position: relative;
        top: 12px;
        width: 50px;
        height: 50px;
      }
      &.daily-task {
        svg {
          top: 10px;
          width: 48px;
          height: 48px;
        }
      }
      &.wake-up {
        h3 {
          color: $wake-up-color;
        }
        svg {
          top: 14px;
          width: 56px;
          height: 56px;
        }
        .switcher {
          .circle {
            background: $wake-up-color;
          }
          .stripe {
            .ovrl {
              background: $wake-up-color;
            }
          }
          &._checked {
            .control {
              .stripe {
                .handle {
                  border-color: $wake-up-color;
                }
              }
            }
          }
        }
      }
      &.daily-task {
        h3 {
          color: $daily-task-color;
        }
        .switcher {
          .circle {
            background: $daily-task-color;
          }
          .stripe {
            .ovrl {
              background: $daily-task-color;
            }
          }
          &._checked {
            .control {
              .stripe {
                .handle {
                  border-color: $daily-task-color;
                }
              }
            }
          }
        }
        &._enabled {
          svg {
            fill: $daily-task-color !important;
            stroke: white !important;
          }
        }
      }
      &.sport {
        h3 {
          color: $sport-color;
        }
        .switcher {
          .circle {
            background: $sport-color;
          }
          .stripe {
            .ovrl {
              background: $sport-color;
            }
          }
          &._checked {
            .control {
              .stripe {
                .handle {
                  border-color: $sport-color;
                }
              }
            }
          }
        }
        &._enabled {
          svg {
            fill: $sport-color !important;
            stroke: white !important;
          }
        }
      }
      &.meditation {
        h3 {
          color: $meditation-color;
        }
        .icon {
          i {
            color: $meditation-color;
          }
        }
        .switcher {
          .circle {
            background: $meditation-color;
          }
          .stripe {
            .ovrl {
              background: $meditation-color;
            }
          }
          &._checked {
            .control {
              .stripe {
                .handle {
                  border-color: $meditation-color;
                }
              }
            }
          }
        }
      }
      &.tasks {
        h3 {
          color: $tasks-color;
        }
        .icon {
          i {
            color: $tasks-color;
          }
        }
        .switcher {
          .circle {
            background: $tasks-color;
          }
          .stripe {
            .ovrl {
              background: $tasks-color;
            }
          }
          &._checked {
            .control {
              .stripe {
                .handle {
                  border-color: $tasks-color;
                }
              }
            }
          }
        }
      }
      &.water {
        h3 {
          color: $water-block-color;
        }
        .icon {
          i {
            color: $water-block-color;
          }
        }
        .switcher {
          .circle {
            background: $water-block-color;
          }
          .stripe {
            .ovrl {
              background: $water-block-color;
            }
          }
          &._checked {
            .control {
              .stripe {
                .handle {
                  border-color: $water-block-color;
                }
              }
            }
          }
        }
      }
      &.kind {
        h3 {
          color: $kind-color;
        }
        .icon {
          i {
            color: $kind-color;
          }
        }
        .switcher {
          .circle {
            background: $kind-color;
          }
          .stripe {
            .ovrl {
              background: $kind-color;
            }
          }
          &._checked {
            .control {
              .stripe {
                .handle {
                  border-color: $kind-color;
                }
              }
            }
          }
        }
      }
      &.report {
        h3 {
          color: $report-color;
        }
        .icon {
          i {
            color: $report-color;
          }
        }
        .switcher {
          .circle {
            background: $report-color;
          }
          .stripe {
            .ovrl {
              background: $report-color;
            }
          }
          &._checked {
            .control {
              .stripe {
                .handle {
                  border-color: $report-color;
                }
              }
            }
          }
        }
      }
      &._enabled {
        h3, p {
          color: white;
        }
        svg {
          fill: white;
          stroke: white;
        }
      }
      h3 {
        position: relative;
        z-index: 2;
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 20px;
        color: $brand-primary;
        @include transform(translateZ(0));
        backface-visibility: hidden;
      }
      svg {
        @include transform(translateZ(0));
        backface-visibility: hidden;
      }
      p {
        position: relative;
        z-index: 2;
        font-size: 16px;
        margin-bottom: 20px;
        @include transform(translateZ(0));
        backface-visibility: hidden;
      }
      .icon {
        position: relative;
        top: -6px;
        display: inline-block;
        margin-right: 20px;
        z-index: 2;
      }
      i {
        font-size: 40px;
        color: $brand-primary;
        @include transform(translateZ(0));
        backface-visibility: hidden;
      }
      .checkbox {
        z-index: 1;
      }
    }
  }
  #fee {
    width: 80px;
    margin-right: 5px;
  }
  .add {
    width: 100%;
    border: 0;
    @include flex-direction(column);
    padding: 20px 0 !important;
    text-align: center !important;
    @include justify-content(center);
    @include align-items(center);
    &:hover {
      background: transparent;
    }
    svg {
      stroke: $green;
      fill: $green;
      width: 120px;
      height: 120px;
      margin: 20px auto;
    }
    p {
      font-size: 22px;
      color: $green;
      font-weight: bold;
    }
  }
}