#profile-blocks {
  .container {
    min-height: 500px;
    > h3 {
      font-size: 34px;
      @media screen and (max-width: $screen-sm) {
        font-size: 18px;
      }
    }
  }
  .main-info {
    .item {
      @include flexbox;
      h5, p {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        @media screen and (max-width: $screen-sm) {
          font-size: 12px;
        }
      }
      > div {
        &:nth-child(1) {
          width: 200px;
          @media screen and (max-width: $screen-sm) {
            width: 100px;
            @include flex-grow(0);
            @include flex-shrink(0);
          }
        }
        @media screen and (max-width: $screen-sm) {
          select {
            width: 100px;
            font-size: 12px;
          }
          input {
            font-size: 14px;
          }
        }
      }
    }
  }
  #fee {
    width: 80px;
    margin-right: 5px;
  }
}